@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* body {
    background-color: black;
} */

body {
    background-color: black;
    background-image: radial-gradient(
      rgba(63, 62, 62, 0.75), rgb(0, 0, 0) 120%
    );
    height: 100vh;
    color: white;
    /* font: 1.3rem Inconsolata, monospace; */
    text-shadow: 0 0 3px #C8C8C8;

  }

  /* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
  } */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

.container {
    height: 75vh;
    /* display: grid; */
    display: none;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "player1 player2";
}

.player2 {
    grid-area: player2;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
        ". . ."
        ". box ."
        ". . .";
}

.player1 {
    grid-area: player1;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
        ". . ."
        ". box ."
        ". . .";
}

.grids {
    border: 1px solid white;
}

.grid-container {
    background-color: #00bfff;
    grid-area: box;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


#1-player {
    color:#595959 ;
}

/* game start screen styles */
.gameStartScreen {
    display: flex;
    flex-direction: column;
}

.startMsg {
    color: #00fa00;
    /* color: white; */
    font-family: monospace;
    font-weight: 900;
    font-size: 1.7em;
    text-align: center;
    padding-top: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    bottom: 10px;
}

.play {
    padding: 0px 50px;


}
.play button {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: green;
    box-shadow: 0 8px 0 rgb(15, 92, 0), 
    0 15px 20px rgba(0,0,0,.35);
    text-shadow: 0 3px 1px rgba(20, 70, 1, 0.8);
    text-transform: uppercase;
    transition: .1s all ease-in;
    outline: none; 
    cursor: pointer;
}

.reset button {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 1.05em;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: red;
    text-shadow: 0 3px 1px rgba(122,17,8,.8);
    box-shadow: 0 8px 0 rgb(183,9,0), 
    0 15px 20px rgba(0,0,0,.35);
    text-transform: uppercase;
    transition: .1s all ease-in;
    outline: none; 
    cursor: pointer;
}

.reset button:active {
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45);
}

.play button:active {
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(10, 88, 0),
      0 8px 6px rgba(0,0,0,.45);
}



.game-start-container {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player1-start {
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
        ". . ."
        ". box ."
        ". . .";
}

.ship-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: calc(45px * 5 + 40px);
    height: calc(45px * 5 + 70px);
    border: 2px dashed whitesmoke;
    

}

.carrier-container{
    background-color: #595959;
    display: flex;
    margin: 5px;
    max-width: calc(45px * 5);
}

.cell {
    border: 1px solid white;
    background-color: #595959;
    height: 40px;
    width: 45px;
}

.battleship-container{
    display: flex;
    margin: 5px;
    max-width: calc(45px * 4);

}

.destroyer-container {
    display: flex;
    margin: 5px;
    max-width: calc(45px * 3);
}

.sub-container{
    display: flex; 
    margin: 5px;
    max-width: calc(45px * 3);
}

.patrol-container  {
    display: flex; 
    margin: 5px;
    max-width: calc(45px * 2);
}

.hold {
    border: solid #ccc 2px;
}

.invisible {
    display: none;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}