@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

body {
    background-color: black;
    background-image: radial-gradient(
        rgba(63, 62, 62, 0.75),
        rgb(0, 0, 0) 120%
    );
    height: 100vh;
    color: white;
    /* font: 1.3rem Inconsolata, monospace; */
    text-shadow: 0 0 3px #c8c8c8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

.container {
    height: 75vh;
    /* display: grid; */
    display: none;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "player1 player2"
    ". restart";
}

.player2 {
    grid-area: player2;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
        ". . ."
        ". box ."
        ". . .";
}

.player1 {
    grid-area: player1;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
        ". . ."
        ". box ."
        ". . .";
}

.grids {
    border: 1px solid white;
}

.grid-container {
    background-color: #00bfff;
    grid-area: box;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#1-player {
    color: #595959;
}

.restart-container {
    
    grid-area: restart;
    position: relative;
    right: 48px;
}

#restart {
     
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(219, 0, 0);
    box-shadow: 0 8px 0 rgb(92, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
    text-shadow: 0 3px 1px rgba(70, 1, 1, 0.8);
    text-transform: uppercase;
    transition: 0.1s all ease-in;
    outline: none;
    cursor: pointer;
    
}

#restart:active {
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183, 0, 0), 0 8px 6px rgba(0, 0, 0, 0.45);
}

/* game start screen styles */
.gameStartScreen {
    display: flex;
    flex-direction: column;
}

.startMsg {
    color: #00fa00;
    /* color: white; */
    font-family: monospace;
    font-weight: 900;
    font-size: 1.7em;
    text-align: center;
    padding-top: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    bottom: 30px;
}

.play {
    padding: 0px 50px;
}
.play button {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: green;
    box-shadow: 0 8px 0 rgb(15, 92, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
    text-shadow: 0 3px 1px rgba(20, 70, 1, 0.8);
    text-transform: uppercase;
    transition: 0.1s all ease-in;
    outline: none;
    cursor: pointer;
}

.reset button {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 1.05em;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: red;
    text-shadow: 0 3px 1px rgba(122, 17, 8, 0.8);
    box-shadow: 0 8px 0 rgb(183, 9, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    transition: 0.1s all ease-in;
    outline: none;
    cursor: pointer;
}

.reset button:active {
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183, 0, 0), 0 8px 6px rgba(0, 0, 0, 0.45);
}

.play button:active {
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(10, 88, 0), 0 8px 6px rgba(0, 0, 0, 0.45);
}

.game-start-container {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player1-start {
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-areas:
        ". . ."
        ". box ."
        ". . .";
}

.ship-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: calc(45px * 5 + 40px);
    height: calc(45px * 5 + 70px);
    border: 2px dashed whitesmoke;
}

.carrier-container {
    background-color: #595959;
    display: flex;
    margin: 5px;
    max-width: calc(45px * 5);
}

.cell {
    border: 1px solid white;
    background-color: #595959;
    height: 40px;
    width: 45px;
}

.battleship-container {
    display: flex;
    margin: 5px;
    max-width: calc(45px * 4);
}

.destroyer-container {
    display: flex;
    margin: 5px;
    max-width: calc(45px * 3);
}

.sub-container {
    display: flex;
    margin: 5px;
    max-width: calc(45px * 3);
}

.patrol-container {
    display: flex;
    margin: 5px;
    max-width: calc(45px * 2);
}

.hold {
    border: solid #ccc 2px;
}

.invisible {
    display: none;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

@media only screen and (min-width: 1900px) and (max-width: 2500px) {
    .play button {
        width: 100px;
        height: 100px;
        font-size: 1.3em;
    }
    .reset button {
        width: 100px;
        height: 100px;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 2500px) {
    .play button {
        width: 150px;
        height: 150px;
        font-size: 1.9em;
    }
    .reset button {
        width: 150px;
        height: 150px;
        font-size: 1.8em;
    }

    .startMsg {
        position: relative;
        top: 60px;
        font-size: 2.3em;
    }

    #player-grid {
        position: relative;
        left: 50%;
        bottom: 10%;
    }
    #computer-grid {
        position: relative;
        right: 50%;
        bottom: 10%;
    }
}
